@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&family=Noto+Serif:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    background-color: black; /* Set default background to black */
    color: white;
}

header {
    background-color: transparent;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;
    position: static;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.logo {
    width: 180px;
    height: 32.27px;
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevents the logo from shrinking */
    padding-right: 30px; /* Add padding to the right for the logo */
    z-index: 1;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px; /* Add padding to the left for the menu */
    z-index: 1;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end; /* Align menu items to the end of the container */
    flex-grow: 1; /* Allow nav-links to grow and fill the space */
    font-size: 14px; /* Make the font a bit smaller */
    font-weight: 400; /* Make the font a little bit bolder */
    letter-spacing: 0.1em; /* Add spacing between letters */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: inherit; /* Inherit the font weight from .nav-links */
}

.contact-number {
    font-weight: inherit; /* Inherit the font weight from .nav-links */
}

.menu-icon {
    display: none; /* Hide menu icon by default */
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 130px; /* Adjust this if header height changes */
}

.hero-image-container {
    position: relative;
    width: 100%;
    top: -210px; /* Move the image 130px to the top */
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    z-index: -100;
}

.hero-image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.text-container {
    margin-top: -80px; /* Adjust this if header height changes */
    background: rgba(0, 0, 0, 0);
    padding: 20px;
}

h1, h2 {
    margin: 0;
    letter-spacing: 0.3em;
    font-weight: 500; /* Make the font bolder */
}

.premiere {
    font-size: 10vw; /* Make the font responsive */
    font-family: 'Noto Serif', serif;
    font-weight: 400; /* Make the font thinner */
    color: #fff;
    -webkit-text-stroke: 2.2px #000;
    letter-spacing: 0.3em;
}

h1 {
    font-size: 4vw; /* Make the font responsive */
    margin-bottom: 10px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

h2 {
    font-size: 2.5vw; /* Make the font responsive */
    margin-top: 10px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.button {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 30px; /* Add padding for the button on all sides */
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0px;
    letter-spacing: 0.22em; /* Add spacing between letters */
}

.button:hover {
    background-color: darkred;
}

/* Case Results Section */
.case-results {
    position: relative; /* Add position relative */
    padding: 60px 20px;
    background: url('/Users/rafaelhinojosahinojosa/Desktop/VP/Platzi/Creacion de paguinas Web/LawRank/images/Laptop.png') no-repeat center bottom; /* Set the background image */
    background-color: black;
    color: white;
    min-height: 1500px;
}

.background-image {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: url('/Users/rafaelhinojosahinojosa/Desktop/VP/Platzi/Creacion de paguinas Web/LawRank/images/Laptop.png') no-repeat bottom center; /* Set the background image */
    background-size: cover; /* Ensure the image covers the entire div */
    z-index: 0;
}

.background-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Gradient effect */
    z-index: 1;
}


.case-results .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Ensure the container's position is relative */
    z-index: 2; /* Ensure the content is above the background */
}

.case-results .section-title {
    text-align: center;
    margin-bottom: 40px;
}

.case-results .section-title h3 {
    font-size: 16px; /* Set font size to 18px */
    font-family: 'Times', serif; /* Use Times font */
    color: #FFFFFF; /* Set color to #FFFFFF */
    letter-spacing: 8px; /* Set letter spacing to 8px */
    word-spacing: 5px; /* Set word spacing to 5px */
    text-align: left; /* Align text to the left */
    margin-bottom: 10px; /* Set margin bottom to 10px */
    font-weight: 400;
}

.case-results .results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Adjust gap as needed */
    padding-top: 60px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.case-results .results-header img.we-get-results {
    max-width: 80%; /* Ensure the image scales to the width of its container */
    height: auto;
}

.case-results .results-header .button {
    margin-top: 0; /* Remove margin top */
}

.case-results .section-title .button {
    display: inline-block;
    padding: 15px 30px; /* Adjust padding for the button */
    background-color: transparent; /* Set background to transparent */
    color: white; /* Set text color */
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #e91e63; /* Add border with color */
    border-radius: 5px; /* Rounded corners */
    letter-spacing: 0.22em; /* Add spacing between letters */
    transition: background-color 0.3s, color 0.3s; /* Add transition for hover effect */
}

.case-results .section-title .button:hover {
    background-color: #e91e63; /* Change background color on hover */
    color: white; /* Change text color on hover */
}
.case-results .results-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    min-width: 600px;
    min-height: 600px;
}

.case-results .result-card {
    flex: 1;
    min-width: 600px;
    min-height: 600px;
    background-color: white;
    color: black;
    padding: 80px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */

}

.case-results .result-card h4 {
    font-size: 14px;
    font-family: 'Times', serif;
    color: #14192D;
    letter-spacing: 8px; /* Set letter spacing */
    word-spacing: 5px; /* Set word spacing */
    margin-bottom: 20px; /* Space below heading */
    font-weight: 600; /* Make the font bold */
}

.case-results .result-card p {
    font-size: 14px;
    line-height: 2.6;
    margin-bottom: 40px;
    color: #333;
    font-family: "Lato", sans-serif;
    text-transform: none;
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    overflow-wrap: break-word; /* Additional property to handle text wrapping */
    white-space: normal; /* Ensure text wraps normally */
}

.case-results .result {
    text-align: left;
}

.case-results .result h3 {
    font-size: 2.5em;
    color: #e91e63;
    margin-bottom: 10px;
    font-weight: 700; /* Make the font bold */
}

.case-results .result p {
    font-size: 14px; /* Font size for paragraphs */
    line-height: 2.6; /* Space between lines */
    margin-bottom: 40px;
    color: #333; /* Darker gray for text */
    font-family: 'Lato', sans-serif; /* Use Lato font */
    text-transform: none; /* Normal text transformation */
    flex-wrap: wrap; /* Ensure cards do not wrap */

}

/* Dropdown menu styles */
.dropdown-menu {
    display: none; /* Hide dropdown menu by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 999; /* Ensure it appears above other elements */
    padding: 60px 30px 30px 30px; /* Add padding around the dropdown */
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin-bottom: 20px;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Increase font size for better visibility */
    font-weight: 400;
}
.results-carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Hide overflow to ensure the carousel works correctly */
}

.laptop-image {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative; /* If you want to position other elements inside it */
    background: url('/Users/rafaelhinojosahinojosa/Desktop/VP/Platzi/Creacion de paguinas Web/LawRank/images/Laptop.png') no-repeat center center; /* Set the image as the background */
    background-size: cover; /* Ensure the image covers the entire div */
}
 
.arrows {
    display: flex;
    justify-content: left; /* Center the arrows horizontally */
    margin-top: 20px; /* Add some space above the arrows */
}

.arrows img {
    cursor: pointer;
    width: 20px; /* Adjust the size of the arrows */
    height: 20px; /* Adjust the size of the arrows */
    margin: 0 10px; /* Add space between the arrows */
}

.results-grid {
    display: inline-flex ;
    /*flex-wrap: nowrap; /* Ensure cards do not wrap */
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    white-space: nowrap; /* Prevent wrapping of result cards */
}

.result-card {
    flex: 0 0 auto; /* Prevent flex-grow and allow flex-shrink */
    width: 300px; /* Set a fixed width for the cards */
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.accidents-section {
    padding: 60px 20px;
    background-color: #171B24; /* Adjust the background color as needed */
    color: white;
    background-image: url('/Users/rafaelhinojosahinojosa/Desktop/VP/Platzi/Creacion de paguinas Web/LawRank/images/Curved Background.png');
    background-size: cover; /* Ensure the background covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    min-height: 100vh; /* Ensure the section has a minimum height */
    display: flex;
    align-items: center; /* Center items vertically */
}

.accidents-section .container {
    max-width: 1200px;
    margin: 0 auto;
}

.accidents-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
    text-align: center;

    @media (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    @media (max-width: 810px) {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    @media (max-width: 375px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.accident-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accident-item img {
    width: 80px; /* Set a fixed size for the icons */
    height: 80px; /* Set a fixed height for the icons */
    object-fit: contain; /* Ensure the image fits within the specified dimensions */
    margin-bottom: 10px;
}

.accident-item p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em; /* Adjust the font size */
    color: #d1d1d1; /* Adjust the text color */
}

/* Why Choose Us Section */
.why-choose-us {
    padding: 60px 20px;
    display: block;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    min-height: 100vh; /* Ensure the section takes up the full height of the viewport */
}

.why-choose-us .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.why-choose-us .section-title {
    margin-bottom: 40px;
}

.why-choose-us .section-title h2 {
    font-size: 2.5em;
    color: black;
    font-family: 'Roboto Slab', serif; /* Use Roboto Slab font */
    text-align: left; /* Align text to the left */
    text-transform: none ;
    font-weight: 100; /* Make the font a little bit bolder */
    -webkit-text-stroke: 1px white; /* Add white text stroke */
    /*text-stroke: 1px white; /* Standard property for compatibility */
}

.why-choose-us .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    background-color: black;
    color: white;

    @media (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
        gap: 10px; /* Adjust the gap as needed */
    }

    @media (max-width: 810px) {
        grid-template-columns: 1fr; /* 1 column for small screens */
        gap: 20px; /* Adjust the gap as needed */
    }

    @media (max-width: 375px) {
        grid-template-columns: 1fr; /* 1 column for very small screens */
        gap: 30px; /* Adjust the gap as needed */
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border: 1px solid #333;
    text-align: left; /* Align text to the left */
}

.grid-item p {
    text-align: left;
    font-size: 18px;
    line-height: 2.2;
    margin-top: 10px;
    font-weight: 300; 
    text-transform: none; // Remove text transformation (uppercase)
    font-family: 'IBM Plex Sans', sans-serif; // Ensure paragraphs use IBM Plex Sans
  }

.grid-item h4 {
    font-family: 'Roboto Slab', serif; /* Use Roboto Slab font */
    font-size: 28px;
    font-weight: 700; /* Make the font a little bit bolder */
    margin-bottom: 10px;
    text-transform: none;
    text-align: left; /* Align text to the left */
}

.why-choose-us .button {
    display: flow;
    width: 350px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 2px;
    background-color: #C50A20;
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.22em;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-left: 0; /* Ensure the button starts at the left */
    margin-top: 50px; /* Add top margin if needed */

    &:hover {
        background-color: #a0091a; /* Darker shade for hover state */
    }
}



/* Media queries for responsive design */
@media (max-width: 1025px) {
    .nav-links {
        display: none; /* Hide nav links on smaller screens */
    }
    
    .menu-icon {
        display: block; /* Show menu icon on smaller screens */
        margin-left: auto; /* Align the menu icon to the right */
    }
}